* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

/* 
img {
    max-width: 100%;
} */

.container {
    margin: 0 auto;
    width: 1200px;
    margin-top: 35px;
}

.header-left img {
    cursor: pointer;
}

.header-left {
    display: flex;
    gap: 100px;
}

.book-text-input {
    border: none;
    outline: none;
    padding: 1px;
}

.search-bar form {
    display: flex;
    align-items: center;
    gap: 15px;
}

.search-bar form,
.book-text-input {
    background-color: #EAEAEA;
    border-radius: 8px;
}

.search-bar form {
    padding: 7px 60px 7px 15px;
}

header {
    display: flex;
    justify-content: space-between;
}

.header-right {
    display: flex;
    gap: 40px;
    align-items: center;
}

.hero {
    margin-top: 68px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero-heading {
    font-size: 40px;
    font-weight: 500;
    line-height: normal;
    color: #0D0842;
    margin-bottom: 30px;
}

.hero-content-left {
    width: 501px;
    color: #0D0842;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.hero-content-para {
    margin-bottom: 40px;
}

.subscribe-btn {
    border-radius: 8px;
    background: #FFCE1A;
    padding: 7px 49px;
    text-decoration: none;
    color: white;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.genre-for-style {
    width: 120px;
    margin-top: 20px;
}

.book-image img {
    width: 180px;
    height: 250px;
    object-fit: contain;
}

.issue-btn {
    border-radius: 8px;
    background: #FFCE1A;
    padding: 7px 49px;
    text-decoration: none;
    color: white;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    width: 183px;
}

.book-parent {
    display: flex;
    gap: 32px;
    align-items: center;
}

.book-name--issue-price--discription--issue-btn {
    display: flex;
    flex-direction: column;
    /* gap: 30px; */
}

.book-name {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 15px;
}

.book-discription {
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    color: rgba(13, 8, 66, 0.52);
    margin-bottom: 15px;
}

.issue-price {
    margin-bottom: 33px;
    color: #0D0842;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.section-5 {
    margin-top: 130px;
    margin-bottom: 159px;
}

.news-section-heading {
    color: #0D0842;
    font-size: 24px;
    font-weight: 400;
    padding-bottom: 20px;
}

.news {
    width: 50%;
    display: flex;
    align-items: center;
}

.news-heading {
    color: #0D0842;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 20px;
}

.news-bar {
    width: 50px;
    height: 2px;
    background: #FFCE1A;
    margin-bottom: 25px;
}

.news-content {
    color: #0D0842;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 386px;
    margin-right: 41px;
}

.news-wrap {
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

.all-books-here {
    margin-top: 60px;
    display: flex;
    justify-content: space-between;
}

.footer-left-content img {
    margin-bottom: 40px;
}

.footer-left-content ul {
    list-style: none;
    display: flex;
    gap: 40px;
    padding: 0;
    font-size: 18px;
    font-weight: 400;
    color: #0D0842;
}
.subscribe input{
    border: none;
    outline: none;
    padding: 7px 73px 7px 25px;
    border-radius: 12px;
}
.subscribe button{
    border: none;
    padding: 7px 49px;
    background: #FFCE1A;
    border-bottom-right-radius: 12px;
    border-top-right-radius:12px;
}
.subscribe{
    width: 499.6px;
    border: 1px solid #FFCE1A;
    border-radius: 12px;
}
.footer{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.end-left-content ul{
    list-style: none;
    display: flex;
    gap: 40px;
    padding: 0;
    font-size: 18px;
    font-weight: 400;
    color: #0D0842;   
}

.end-of-web{
    display: flex;
    margin-top: 140px;
    justify-content: space-between;
    align-items: baseline;
    padding-top: 10px;
    border-top: 0.1px solid #0D0842;
    padding-right: 100px;
    padding-left: 100px;
}

.end-right-content{
    display: flex;
    gap: 30px;
}