.add-user-admin,.add-book{
    margin: 0 auto;
    width: 500px;
    margin-top: 50px;
}

.add-user-admin form button,.add-book form button{
    display: block;
    margin: 0 auto;
}

.add-user-admin{
    display: none;
}
.navbar-nav li a{
    cursor: pointer;
}